# Variáveis e tipos de dados

## 1. Olá mundo!
Nela, escreva o texto "Olá mundo!", utilize a função print.

In [1]:
print('Olá mundo!')

Olá mundo!

## 2. Use expressões algébricas para calcular (A), (B) e (C) na tabela de ticket médio abaixo:| Dia    | Valor Total Vendas | Qtd. Total Vendas | Ticket Médio |
|--------|--------------------|-------------------|--------------|
| 19/01  | (A)                | 3                 | 320.52       |
| 20/01  | 834.47             | (B)               | 119.21       |
| 23/01  | 15378.12           | 5                 | (C)        |

In [2]:
# 19/01
qtd_total_vendas_1 = 3
ticket_medio_1 = 320.52

# 20/01
valor_total_vendas_2 = 834.47
ticket_medio_2 = 119.21

# 23/01
valor_total_vendas_3 = 15378.12
qtd_total_vendas_3 = 5

A = valor_total_vendas_1 = qtd_total_vendas_1 * ticket_medio_1
B = qtd_total_vendas_2 = valor_total_vendas_2 / ticket_medio_2
C = ticket_medio_3 = valor_total_vendas_3 / qtd_total_vendas_3

print('(A) = ', A)
print('(B) = ', B)
print('(C) = ', C)

(A) =  961.56
(B) =  7.000000000000001
(C) =  3075.6240000000003

## 3.  Aplique três métodos distintos na string abaixo.
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.' 

Substitua todas as vírgulas por barras /
Deixe a string em maiúscula
Encontre a posição da palavra "moinho" na string

In [3]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# Substitua todas as vírgulas por barras /
result1 = cancao.replace(",", "/")
print(result1)

# Deixe a string em maiúscula
result2 = cancao.upper()
print(result2)

# Encontre a posição da palavra "moinho" na string
result3 = cancao.find("moinho")
print(result3)

Roda mundo/ roda gigante/ roda moinho/ roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
31

## 4. Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variável ano. Imprima os valores na tela.
noticia = 'Selic vai a 2,75% e supera expectativas; ' + \ 'é a primeira alta em 6 anos.'

In [4]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'

selic = noticia[12:16]
print(selic)

ano = noticia[-7:-6]
print(ano)

2,75
6

## 5. Utilize a tabela da verdade para responder: qual o valor da variáveL x?

In [5]:
#TABELA VERDADE
# a = False
# b = True
# x = not a & b

In [6]:
a = False
b = True
x = not a & b

print(x)

True